In [1]:
import pandas as pd

In [2]:
train = pd.read_csv("train.csv")
stores = pd.read_csv("stores.csv")
features = pd.read_csv("features.csv")

In [3]:
train.head()

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True
2      1     1  2010-02-19      41595.55      False
3      1     1  2010-02-26      19403.54      False
4      1     1  2010-03-05      21827.90      False

In [4]:
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [5]:
features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [6]:
df = pd.merge(train, features, on=["Store", "Date"], how="left")

In [7]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [8]:
df.shape

(421570, 15)

In [9]:
df = pd.merge(df, stores, on="Store", how="left")

In [10]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True,A,151315
2,1,1,2010-02-19,41595.55,False,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False,A,151315
3,1,1,2010-02-26,19403.54,False,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False,A,151315
4,1,1,2010-03-05,21827.90,False,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False,A,151315

In [11]:
df.shape

(421570, 17)

In [12]:
df.isnull().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday_x          0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
IsHoliday_y          0
Type                 0
Size                 0
dtype: int64

In [13]:
df["Date"] = pd.to_datetime(df["Date"])
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Week"] = df["Date"].dt.isocalendar().week.astype(int)
df["Day"] = df["Date"].dt.day

In [14]:
df["IsHoliday_x"] = df["IsHoliday_x"].astype(int)

In [15]:
df=df.sort_values("Date")

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 421570 entries, 0 to 421569
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  int32
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  IsHoliday_y   421570 non-null  bool
 15  Type          421570 non-null  object
 16  Size          421570 non-null  int64
 17  Year          421570 non-null  int32
 18  Month         421570 non-null  int32
 19  Week          421570 non-null  int32
 20  Day           421570 non-null  int32
dtypes: bool(1), datetime64[ns](1), float64(10), int32(5), int64(3), object(1)
memory usage: 59.9+ MB

In [17]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,...,MarkDown5,CPI,Unemployment,IsHoliday_y,Type,Size,Year,Month,Week,Day
0,1,1,2010-02-05,24924.50,0,42.31,2.572,NaN,NaN,NaN,...,NaN,211.096358,8.106,False,A,151315,2010,2,5,5
277665,29,5,2010-02-05,15552.08,0,24.36,2.788,NaN,NaN,NaN,...,NaN,131.527903,10.064,False,B,93638,2010,2,5,5
277808,29,6,2010-02-05,3200.22,0,24.36,2.788,NaN,NaN,NaN,...,NaN,131.527903,10.064,False,B,93638,2010,2,5,5
277951,29,7,2010-02-05,10820.05,0,24.36,2.788,NaN,NaN,NaN,...,NaN,131.527903,10.064,False,B,93638,2010,2,5,5
278094,29,8,2010-02-05,20055.64,0,24.36,2.788,NaN,NaN,NaN,...,NaN,131.527903,10.064,False,B,93638,2010,2,5,5

In [29]:
markdown_cols = ["MarkDown1", "MarkDown2", "MarkDown3", "MarkDown4", "MarkDown5"]
df[markdown_cols] = df[markdown_cols].fillna(0)

In [20]:
df.sample(5)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,...,CPI,Unemployment,IsHoliday_y,Size,Year,Month,Week,Day,Type_B,Type_C
120686,13,23,2012-01-27,21032.38,0,34.32,3.058,3743.00,3744.31,108.46,...,130.314452,6.104,False,219622,2012,1,4,27,False,False
34962,4,41,2010-08-20,2104.50,0,78.83,2.671,0.00,0.00,0.00,...,126.076645,7.372,False,205863,2010,8,33,20,False,False
287738,30,9,2011-04-15,179.71,0,71.01,3.743,0.00,0.00,0.00,...,214.942063,7.931,False,42988,2011,4,15,15,False,True
224633,23,74,2012-06-01,40678.65,0,66.22,3.798,4238.85,92.20,61.64,...,138.113807,4.125,False,114533,2012,6,22,1,True,False
218011,23,9,2011-01-07,23410.53,0,27.81,3.193,0.00,0.00,0.00,...,132.882323,5.114,False,114533,2011,1,1,7,True,False

In [19]:
df = pd.get_dummies(df, columns=["Type"], drop_first=True)

In [21]:
duplicates = df[df.duplicated(keep=False)]
print(duplicates)

Empty DataFrame
Columns: [Store, Dept, Date, Weekly_Sales, IsHoliday_x, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment, IsHoliday_y, Size, Year, Month, Week, Day, Type_B, Type_C]
Index: []

[0 rows x 22 columns]

In [22]:
df = df.drop('IsHoliday_y', axis=1)
print(df['IsHoliday_x'].value_counts())

IsHoliday_x
0    391909
1     29661
Name: count, dtype: int64

In [23]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,...,MarkDown5,CPI,Unemployment,Size,Year,Month,Week,Day,Type_B,Type_C
0,1,1,2010-02-05,24924.50,0,42.31,2.572,0.0,0.0,0.0,...,0.0,211.096358,8.106,151315,2010,2,5,5,False,False
277665,29,5,2010-02-05,15552.08,0,24.36,2.788,0.0,0.0,0.0,...,0.0,131.527903,10.064,93638,2010,2,5,5,True,False
277808,29,6,2010-02-05,3200.22,0,24.36,2.788,0.0,0.0,0.0,...,0.0,131.527903,10.064,93638,2010,2,5,5,True,False
277951,29,7,2010-02-05,10820.05,0,24.36,2.788,0.0,0.0,0.0,...,0.0,131.527903,10.064,93638,2010,2,5,5,True,False
278094,29,8,2010-02-05,20055.64,0,24.36,2.788,0.0,0.0,0.0,...,0.0,131.527903,10.064,93638,2010,2,5,5,True,False

In [24]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [25]:
features = ['Store', 'Dept','Temperature', 'Fuel_Price', 'CPI', 'Unemployment', 'IsHoliday_x','MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5','Size']  # choose based on EDA
X = df[features]
y = df['Weekly_Sales']

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
#linear regression
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression()