In [110]:
import pandas as pd

# LOADING DATASET

In [113]:
train = pd.read_csv("train.csv")
stores = pd.read_csv("stores.csv")
features = pd.read_csv("features.csv")

In [115]:
train.head(2)

   Store  Dept        Date  Weekly_Sales  IsHoliday
0      1     1  2010-02-05      24924.50      False
1      1     1  2010-02-12      46039.49       True

In [117]:
stores.head(2)

   Store Type    Size
0      1    A  151315
1      2    A  202307

In [119]:
features.head(2)

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True

# MERGING THE DATASET

In [122]:
df = pd.merge(train, features, on=["Store", "Date"], how="left")

In [124]:
df.head(2)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True

In [126]:
df.shape

(421570, 15)

In [128]:
df = pd.merge(df, stores, on="Store", how="left")

In [130]:
df.head(2)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False,A,151315
1,1,1,2010-02-12,46039.49,True,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True,A,151315

In [132]:
df.shape

(421570, 17)

In [134]:
df.isnull().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday_x          0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
IsHoliday_y          0
Type                 0
Size                 0
dtype: int64

# CONVERT DATE TO DATETIME FORMAT

In [154]:
df["Date"] = pd.to_datetime(df["Date"])
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month
df["Week"] = df["Date"].dt.isocalendar().week.astype(int)
df["Day"] = df["Date"].dt.day

# CONVERT BOOLEAN HOLIDAY TO INTEGER

In [157]:
df["IsHoliday"] = df["IsHoliday"].astype(int)

KeyError: 'IsHoliday'

# SORT DATE BY DATE

In [73]:
df=df.sort_values("Date")

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday_x   421570 non-null  bool
 5   Temperature   421570 non-null  float64
 6   Fuel_Price    421570 non-null  float64
 7   MarkDown1     150681 non-null  float64
 8   MarkDown2     111248 non-null  float64
 9   MarkDown3     137091 non-null  float64
 10  MarkDown4     134967 non-null  float64
 11  MarkDown5     151432 non-null  float64
 12  CPI           421570 non-null  float64
 13  Unemployment  421570 non-null  float64
 14  IsHoliday_y   421570 non-null  bool
 15  Type          421570 non-null  object
 16  Size          421570 non-null  int64
 17  Year          421570 non-null  int32
 18  Month         421570 non-null  int32
 19  Week          421570 non-null  int32
 20  Day           421570 non-null  int32
dtypes: bool(2), datetime64[ns](1), float64(10), int32(4), int64(3), object(1)
memory usage: 55.5+ MB

In [77]:
df.head(2)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,...,MarkDown5,CPI,Unemployment,IsHoliday_y,Type,Size,Year,Month,Week,Day
0,1,1,2010-02-05,24924.50,False,42.31,2.572,0.0,0.0,0.0,...,0.0,211.096358,8.106,False,A,151315,2010,2,5,5
87501,9,97,2010-02-05,668.48,False,38.01,2.572,0.0,0.0,0.0,...,0.0,214.655459,6.415,False,B,125833,2010,2,5,5

# HANDLING MISSING VALUES

In [66]:
markdown_cols = ["MarkDown1", "MarkDown2", "MarkDown3", "MarkDown4", "MarkDown5"]
df[markdown_cols] = df[markdown_cols].fillna(0)

In [68]:
print(df[markdown_cols].isnull().sum())

MarkDown1    0
MarkDown2    0
MarkDown3    0
MarkDown4    0
MarkDown5    0
dtype: int64

# ONE HOT ENCODE CATEGORICAL VARIABLE

In [149]:
df = pd.get_dummies(df, columns=["Type"], drop_first=True)

KeyError: "None of [Index(['Type'], dtype='object')] are in the [columns]"

In [151]:
df.sample(5)

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,...,CPI,Unemployment,IsHoliday_y,Size,Year,Month,Week,Day,Type_B,Type_C
319795,33,93,2012-06-15,21751.98,False,92.44,4.144,1655.11,NaN,NaN,...,130.829533,7.396,False,39690,2012,6,24,15,False,False
378193,40,67,2012-06-15,13380.26,False,63.39,3.683,5288.06,244.82,42.74,...,138.129533,4.125,False,155083,2012,6,24,15,False,False
375485,40,34,2012-05-18,7548.47,False,57.59,3.899,4534.30,NaN,103.83,...,138.106581,4.125,False,155083,2012,5,20,18,False,False
108172,12,2,2012-07-20,78081.45,False,85.53,3.726,5799.00,59.68,37.56,...,130.701290,10.926,False,112238,2012,7,29,20,True,False
38864,4,92,2012-05-04,164361.79,False,80.14,3.747,13737.91,NaN,93.65,...,131.136000,4.308,False,205863,2012,5,18,4,False,False

# Checking Dupicates

In [168]:
duplicates = df[df.duplicated(keep=False)]
print(duplicates)

Empty DataFrame
Columns: [Store, Dept, Date, Weekly_Sales, IsHoliday_x, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment, IsHoliday_y, Size, Year, Month, Week, Day, Type_B, Type_C]
Index: []

[0 rows x 22 columns]